// paddings
$layout-unit: 1rem / 2;
$double-unit: $layout-unit * 2;
$triple-unit: $layout-unit * 3;
$quad-unit: $layout-unit * 4;

// fonts
$large-font-size: 1.2rem;
$primary-font-size: 0.875rem;
$small-font-size: 0.875rem;
$xsmall-font-size: 0.7rem;

$nav-icon-font-size: 1rem;

// border-radius
$round-border-radius: 50%;
$primary-border-radius: 12px;
